MVC_WCFConsumption/Connected Services/ServiceReferenceServicios/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51711/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListTipoServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="viewListTipoServicioResult" nillable="true" type="q1:ArrayOfSP_Select_TipoServicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListUbicacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListUbicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="viewListUbicacionResult" nillable="true" type="q2:ArrayOfSP_Select_Ubicacion_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListServicio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="viewListServicioResult" nillable="true" type="q3:ArrayOfverServicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="viewListClientesResult" nillable="true" type="q4:ArrayOfverClientes_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListClientesActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="viewListClientesActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="viewListClientesActivosResult" nillable="true" type="q5:ArrayOfverClientesActivos_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="insertTipoServicioResult" nillable="true" type="q6:SP_In_TipoServicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUbicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maestro" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertUbicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="insertUbicacionResult" nillable="true" type="q7:SP_In_Ubicacion_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoServicio" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costoBase" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="insertServicioResult" nillable="true" type="q8:SP_In_Servicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="insertClienteResult" nillable="true" type="q9:SP_In_Cliente_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="updateTipoServicioResult" nillable="true" type="q10:SP_Up_TipoServicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUbicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maestro" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUbicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="updateUbicacionResult" nillable="true" type="q11:SP_Up_Ubicacion_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="tipoServicio" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="costoBase" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="updateServicioResult" nillable="true" type="q12:SP_Up_Servicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="updateClienteResult" nillable="true" type="q13:SP_Up_Cliente_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="deleteTipoServicioResult" nillable="true" type="q14:SP_Del_TipoServicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUbicacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUbicacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="deleteUbicacionResult" nillable="true" type="q15:SP_Del_Ubicacion_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="deleteServicioResult" nillable="true" type="q16:SP_Del_Servicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="deleteClienteResult" nillable="true" type="q17:SP_Del_Cliente_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOneTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOneTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="selectOneTipoServicioResult" nillable="true" type="q18:SP_selectOne_TipoServicio_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>